@import "normalize.css";

*{
    font-family: 'Saira Condensed', sans-serif;
    font-family: 'Barlow', sans-serif;
}
body{
  background: hsl(212, 45%, 89%);
  font-size: 15px;
  display: grid;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px
}
.qrcard{
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20.5rem;
  height: 31.5rem;
  border-radius: 15px;
}
.qrcard>img{
  width: 18.5rem;
  border-radius: 8px;
  margin-top: 15px;
}
.qrcard>h1{
  line-height: 1.2;
}
article p{
  line-height: 1.2;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2em;
  }
.attribution a {
    color: hsl(228, 45%, 44%);
  }
h1{
  margin: 23px 20px 5px 20px;
  font-size: 24px;
  justify-content: center;
  color: hsl(218, 44%, 22%);
  text-align: center;
  font-weight: bolder;
  font-family: 'Outfit', sans-serif;
}
p{
  margin: 1px 20px 5px 20px;
  text-align: center;
  padding: 10px;
  color: hsl(220, 15%, 55%);
  font-size: 16px;
  font-weight: lighter;
}
